{% extends "layouts/base.html" %}{%load static%}

{% block title %} External service DataTable {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/fixedColumns.dataTables.min.css' %}">
<style>
    thead input {
        width: 100%;
    }
    div.container {
        width: 80%;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">External service</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">External service</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">DataTable</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Data Table</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="float-right">
                                            {% if perms.egatapp.add_external_service %}
                                            <button type="button" href="#addEmployeeModal" class="btn btn-primary" data-toggle="modal"><i class="feather icon-plus"></i>Add New </button>
                                            {% endif %}
                                        </div>
                                            <div class="table-responsive">
                                                <table id="example" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                          <th>เลขทะเบียนทรัพย์สินสารสนเทศ</th>
                                                          <th>รายละเอียดของบริการ</th>
                                                          <th>ผู้ให้บริการ</th>
                                                          <th>ที่อยู่</th>
                                                          <th>สินค้า/อุปกรณ์ที่ขาย</th>
                                                          <th>ระดับความลับ (C)</th>
                                                          <th>ระดับความถูกต้อง (I)</th>
                                                          <th>ระดับความพร้อมใช้ (A)</th>
                                                          <th>ผู้เป็นเจ้าของบริการ/ผู้รับผิดชอบ</th>
                                                          <th>เลขที่สัญญา</th>
                                                          <th>วันที่เริ่มสัญญา</th>
                                                          <th>วันที่สิ้นสุดสัญญา</th>
                                                          <th>สถานที่เก็บสัญญา</th>
                                                          <th>ประเภทสื่อที่ใช้บันทึกสัญญา</th>
                                                          <th>โทรศัพท์</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                          <th>Asset Code</th>
                                                          <th>Service Detail</th>
                                                          <th>Vendor Name</th>
                                                          <th>Address</th>
                                                          <th>Product</th>
                                                          <th>Confidential</th>
                                                          <th>Integrity</th>
                                                          <th>Availability</th>
                                                          <th>Service Owner</th>
                                                          <th>Contract Number</th>
                                                          <th>Contract Start Date</th>
                                                          <th>Contract End Date</th>
                                                          <th>Repository</th>
                                                          <th>Storage Media</th>
                                                          <th>Phone</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for x in External_services %} 
                                                        <tr>
                                                            <td>
                                                                {% if perms.egatapp.change_external_service %}
                                                                <a href="#editEmployeeModal-{{forloop.counter}}" class="edit" data-toggle="modal">
                                                                    {{x.Asset_Code}}
                                                                </a>
                                                                {% else %}
                                                                    {{x.Asset_Code}}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{x.Service_Detail}}</td>
                                                            <td>{{x.Vendor_Name}}</td>
                                                            <td>{{x.Address}}</td>
                                                            <td>{{x.Product}}</td>
                                                            <td>{{x.Confidential}}</td>
                                                            <td>{{x.Integrity}}</td>
                                                            <td>{{x.Availability}}</td>
                                                            <td>{{x.Service_Owner}}</td>
                                                            <td>{{x.Contract_Number}}</td>
                                                            <td>{{x.Contract_Start_Date|date:'d-m-Y' }}</td>
                                                            <td>{{x.Contract_End_Date|date:'d-m-Y' }}</td>
                                                            <td>{{x.Repository}}</td>
                                                            <td>{{x.Storage_Media}}</td>
                                                            <td>{{x.Phone}}</td>                                         
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

<!-- Add Modal HTML -->
 <div id="addEmployeeModal" class="modal fade" >
    <div class="modal-dialog">
     <div class="modal-content">
      <form action="{% url 'External_service_DataTable_insert' %}" method="POST">
        {% csrf_token %}
       <div class="modal-header">      
        <h4 class="modal-title">Add New</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       </div>
       <div class="modal-body">
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">   
                <div class="form-group">
                <label>รายละเอียดของบริการ</label>
                <input type="text" class="form-control" name="Service_Detail" required >
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้ให้บริการ</label>
                <input type="text" class="form-control" name="Vendor_Name" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ที่อยู่</label>
                <input type="text" class="form-control" name="Address" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>สินค้า/อุปกรณ์ที่ขาย</label>
                <input type="text" class="form-control" name="Product" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความลับ (C)</label>
                <select  name="Confidential" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความถูกต้อง (I)</label>
                <select  name="Integrity" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความพร้อมใช้ (A)</label>
                <select  name="Availability" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้เป็นเจ้าของบริการ/ผู้รับผิดชอบ</label>
                <input type="text" class="form-control" name="Service_Owner" required >
                </div> 
            </div>
        </div> 
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>เลขที่สัญญา</label>
                <input type="number" class="form-control" name="Contract_Number" required pattern="[0-9]{4}">
                </div>
            </div> 
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่เริ่มสัญญา</label>
                <input type="date" class="form-control" name="Contract_Start_Date" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>
        </div>
        <!-- row display -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่สิ้นสุดสัญญา</label>
                <input type="date" class="form-control" name="Contract_End_Date" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>สถานที่เก็บสัญญา</label>
                <input type="text" class="form-control" name="Repository" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทสื่อที่ใช้บันทึกสัญญา</label>
                <input type="text" class="form-control" name="Storage_Media" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>โทรศัพท์</label>
                <input type="tel" class="form-control" name="Phone" placeholder="XXX-XXX-XXXX" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                </div>
            </div>
        </div>      
       </div> <!-- class="modal-body" -->
       <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-primary" value="Add">
       </div>
      </form>
     </div>
    </div>
   </div>

<!-- Edit Modal HTML -->
{% for x in External_services %} 
 <div id="editEmployeeModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
     <div class="modal-content">
      <form action="/External_service_DataTable_edit/{{x.Asset_Code}}" method="POST">
        {% csrf_token %}
       <div class="modal-header">      
        <h4 class="modal-title">Edit External service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       </div>
       <div class="modal-body">
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">     
                <div class="form-group">
                <label>เลขทะเบียนทรัพย์สินสารสนเทศ</label>
                <input type="text" class="form-control"  name="Asset_Code" value="{{x.Asset_Code}}" readonly>
                </div>
            </div>
            <div class="col-md-6">   
                <div class="form-group">
                <label>รายละเอียดของบริการ</label>
                <input type="text" class="form-control" name="Service_Detail" value="{{x.Service_Detail}}" required >
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้ให้บริการ</label>
                <input type="text" class="form-control" name="Vendor_Name" value="{{x.Vendor_Name}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ที่อยู่</label>
                <input type="text" class="form-control" name="Address" value="{{x.Address}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>สินค้า/อุปกรณ์ที่ขาย</label>
                <input type="text" class="form-control" name="Product" value="{{x.Product}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความลับ (C)</label>
                <select  name="Confidential"class="form-control">
                    {% if x.Confidential == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Confidential == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Confidential == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Confidential == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div> 
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความถูกต้อง (I)</label>
                <select  name="Integrity"class="form-control">
                    {% if x.Integrity == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Integrity == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Integrity == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Integrity == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความพร้อมใช้ (A)</label>
                <select  name="Availability"class="form-control">
                    {% if x.Availability == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Availability == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Availability == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Availability == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div> 
            </div>
        </div> 
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้เป็นเจ้าของบริการ/ผู้รับผิดชอบ</label>
                <input type="text" class="form-control" name="Service_Owner" value="{{x.Service_Owner}}" required >
                </div> 
            </div> 
            <div class="col-md-6"> 
                <div class="form-group">
                <label>เลขที่สัญญา</label>
                <input type="number" class="form-control" name="Contract_Number" value="{{x.Contract_Number}}" required pattern="[0-9]{4}">
                </div>
            </div> 
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่เริ่มสัญญา</label>
                <input type="date" class="form-control" name="Contract_Start_Date" value="{{x.Contract_Start_Date|date:'Y-m-d' }}" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่สิ้นสุดสัญญา</label>
                <input type="date" class="form-control" name="Contract_End_Date" value="{{x.Contract_End_Date|date:'Y-m-d' }}" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>  
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>สถานที่เก็บสัญญา</label>
                <input type="text" class="form-control" name="Repository" value="{{x.Repository}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทสื่อที่ใช้บันทึกสัญญา</label>
                <input type="text" class="form-control" name="Storage_Media" value="{{x.Storage_Media}}" required>
                </div>
            </div>
        </div>   
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>โทรศัพท์</label>
                <input type="tel" class="form-control" name="Phone" value="{{x.Phone}}" placeholder="XXX-XXX-XXXX" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                </div>
            </div>
        </div>       
        </div> <!-- class="modal-body" -->
       <div class="modal-footer">
        {% if perms.egatapp.delete_external_service %}
        <a href="#deleteEmployeeModal-{{forloop.counter}}" data-toggle="modal" class="btn btn-danger mr-auto">Delete</a>
        {% endif %}
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-info" value="Save">
       </div>
      </form>
     </div>
    </div>
   </div>
   {% endfor %}
    <!-- Delete Modal HTML -->
{% for x in External_services %}
<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
    <form >
    <div class="modal-header">      
    <h4 class="modal-title">Delete External service</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">     
    <p>Are you sure you want to delete these Records?</p>
    <p class="text-warning"><small>{{x.Asset_Code}} information Are Delete ?</small></p>
    </div>
    <div class="modal-footer">
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
    <a href="/External_service_DataTable_delete/{{x.Asset_Code}}" type="submit" class="btn btn-danger">Delete</a>
    </div>
    </form>
    </div>
</div>
</div>
{% endfor %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/JavaScript"src="{%static '/datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.buttons.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/jszip.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/pdfmake.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/vfs_fonts.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.html5.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.print.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.colVis.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.select.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.fixedColumns.min.js' %}"></script>

<script type="text/JavaScript">
    $(document).ready(function() {  
       
        $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');     
   
        $('#example').DataTable( {
            dom: 'Brtip',
            //"paging": false,
            //"info":     false,
            //lengthChange: false,
            scrollX: true,
            fixedColumns:   {
                left: 0,
                right: 0
            },
            buttons: [
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหน้า 4 แถว',
                    show: [ 1, 2, 3, 4 ],
                    hide: [ 5 ,6, 7, 8, 9, 10]
                },
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหลัง 4 แถว',
                    show: [ 5 ,6, 7, 8, 9, 10 ],
                    hide: [ 1, 2, 3, 4]
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all',
                    show: ':hidden'
                },
                { 
                    extend: 'colvis', 
                    columns: ':not(.noVis)',
                    collectionLayout: 'fixed columns',
                },
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 
                { 
                    extend: 'spacer', 
                    style: 'bar', 
                    text: 'Export Files' 
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    charset: 'utf-8',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                    
            ],
            select: true,
            orderCellsTop: true,
            initComplete: function () {

                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        } );

    } );
</script>
{% endblock javascripts %}
