{% extends "layouts/base.html" %}{%load static%}

{% block title %} In-house services Export {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/buttons.dataTables.min.css' %}">

<style>
    thead input {
        width: 100%;
    }
    div.container {
        width: 80%;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">In-house services</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">In-house services</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Export</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Export</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="example" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                          <th>เลขทะเบียนทรัพย์สินสารสนเทศ</th>
                                                          <th>รายละเอียดของบริการ</th>
                                                          <th>ประเภทของสารสนเทศ/หมวดทรัพย์สิน</th>
                                                          <th>ระดับความลับ (C)</th>
                                                          <th>ระดับความถูกต้อง (I)</th>
                                                          <th>ระดับความพร้อมใช้ (A)</th>
                                                          <th>ผู้รับผิดชอบ</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                          <th>Asset_Code</th>
                                                          <th>Service_Detail</th>
                                                          <th>Asset_Type</th>
                                                          <th>Confidential</th>
                                                          <th>Integrity</th>
                                                          <th>Availability</th>
                                                          <th>Responsible_Person</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for x in In_house_services %} 
                                                        <tr>
                                                            <td>{{x.Asset_Code}}</td>
                                                            <td>{{x.Service_Detail}}</td>
                                                            <td>{{x.Asset_Type}}</td>
                                                            <td>{{x.Confidential}}</td>
                                                            <td>{{x.Integrity}}</td>
                                                            <td>{{x.Availability}}</td>
                                                            <td>{{x.Responsible_Person}}</td>                                          
                                                    </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script type="text/JavaScript"src="{%static '/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/jszip.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/pdfmake.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/vfs_fonts.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/buttons.html5.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/buttons.print.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/buttons.colVis.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/dataTables.select.min.js' %}"></script>
    <script type="text/JavaScript"src="{%static '/datatables/js/dataTables.fixedColumns.min.js' %}"></script>

    <script type="text/JavaScript">
    $(document).ready(function() {
        $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');     
       
        $('#example').DataTable( {               
            dom: 'Brtip',
            //"paging": false,
            //"info":     false,
            lengthChange: false,
            //stateSave: true,
            primary: true,
            scrollX: true,
            buttons: [
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหน้า 4 แถว',
                    show: [ 1, 2, 3, 4 ],
                    hide: [ 5 ,6, 7, 8, 9, 10]
                },
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหลัง 4 แถว',
                    show: [ 5 ,6, 7, 8, 9, 10 ],
                    hide: [ 1, 2, 3, 4]
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all',
                    show: ':hidden'
                },
                { 
                    extend: 'colvis', 
                    columns: ':not(.noVis)',
                    collectionLayout: 'fixed columns',
                },
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 
                { 
                    extend: 'spacer', 
                    style: 'bar', 
                    text: 'Export Files' 
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    charset: 'utf-8',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                    
            ],
            select: true,
            orderCellsTop: true,
            initComplete: function () {
        
                var api = this.api();
    
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
    
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
    
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();
    
                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
    </script>
    
{% endblock javascripts %}
