{% extends "layouts/base.html" %}

{% block title %} Hardware DataTable {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css">
<style>
    thead input {
        width: 100%;
    }
    div.container {
        width: 80%;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Hardware</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Hardware</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">DataTable</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Data Table</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="float-right">
                                            {% if perms.egatapp.add_hardware %}
                                            <button type="button" href="#addEmployeeModal" class="btn btn-primary" data-toggle="modal"><i class="feather icon-plus"></i>Add New </button>
                                            {% endif %}
                                        </div>
                                            <div class="table-responsive">
                                                <table id="example" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>เลขทะเบียนทรัพย์สินสารสนเทศ</th>
                                                            <th>EGAT Stock No.(รหัสครุภัณฑ์)</th>
                                                            <th>ประเภทฮาร์ดแวร์/หมวดทรัพย์สิน</th>
                                                            <th>บริการ</th>
                                                            <th>ชื่อทรัพย์สิน</th>
                                                            <th>ลักษณะการใช้งาน/ระบบงาน</th>
                                                            <th>ระดับความลับ (C)</th>
                                                            <th>ระดับความถูกต้อง (I)</th>
                                                            <th>ระดับความพร้อมใช้ (A)</th>
                                                            <th>ผู้เป็นเจ้าของฮาร์ดแวร์</th>
                                                            <th>ผู้ใช้งาน</th>
                                                            <th>ที่ตั้ง</th>
                                                            <th>วันที่เริ่มสัญญาบำรุงรักษา</th>
                                                            <th>วันที่สิ้นสุดสัญบำรุงรักษา</th>
                                                            <th>ยี่ห้อ/รุ่น/Spec.</th>
                                                            <th>Serial Number</th>
                                                            <th>หมายเหตุ</th>
                                                            <th>รายละเอียดเพิ่มเติม</th>
                                                            <th>สถานะทรัพย์สิน</th>
                                                            <th>ขอบเขตขององค์ประกอบ</th>
                                                            <th>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์</th>
                                                            <th>ข้อมูล/รายละเอียดแสดงสิทธิ์การใช้ซอฟต์แวร์ที่มาพร้อมอุปกรณ์</th>
                                                            <th>เอกสารอ้างอิงสำหรับประวัติการเปลี่ยนแปลงล่าสุด</th>
                                                            <th>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์ล่าสุด</th>
                                                            <th>อ้างอิงองค์ประกอบโครงสร้างด้านเทคโนโลยีสารสนเทศ(CI)ที่เกี่ยวข้อง</th>
                                                            <th>ประเภทอุปกรณ์ประมวลผล</th>
                                                            <th>ความเร็วอุปกรณ์ประมวลผล</th>
                                                            <th>ขนาดหน่วยความจำ</th>
                                                            <th>ขนาดฮาร์ดดิสก์</th>
                                                            <th>ไอพีแอดเดรส</th>
                                                            <th>แมคแอดเดรส</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                          <th>Asset Code</th>
                                                          <th>Asset_Number</th>
                                                          <th>Asset_Type</th>
                                                          <th>Service</th>
                                                          <th>Asset_Name</th>
                                                          <th>System_Type</th>
                                                          <th>Confidential</th>
                                                          <th>Integrity</th>
                                                          <th>Availability</th>
                                                          <th>Owner</th>
                                                          <th>User</th>
                                                          <th>Location</th>
                                                          <th>MA_Start</th>
                                                          <th>MA_End</th>
                                                          <th>Brand_Model</th>
                                                          <th>Serial_Number</th>
                                                          <th>Remark</th>
                                                          <th>Description</th>
                                                          <th>Asset_Status</th>
                                                          <th>Hardware_Type</th>
                                                          <th>Software_Version</th>
                                                          <th>Software_License</th>
                                                          <th>Latest_Change</th>
                                                          <th>Current_Software_Version</th>
                                                          <th>Related_CI</th>
                                                          <th>Processor_Type</th>
                                                          <th>Processor_Speed</th>
                                                          <th>Memory_Size</th>
                                                          <th>Disk_Size</th>
                                                          <th>IP_Address</th>
                                                          <th>MAC_Address</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for x in Hardwares %} 
                                                        <tr>
                                                            <td>
                                                            {% if perms.egatapp.change_hardware %}
                                                            <a href="#editEmployeeModal-{{forloop.counter}}" class="edit" data-toggle="modal">
                                                                {{x.Asset_Code}}
                                                            </a>
                                                            {% else %}
                                                                {{x.Asset_Code}}
                                                            {% endif %}
                                                            </td>
                                                            <td>{{x.Asset_Number}}</td>
                                                            <td>{{x.Asset_Type}}</td>
                                                            <td>{{x.Service}}</td>
                                                            <td>{{x.Asset_Name}}</td>
                                                            <td>{{x.System_Type}}</td>
                                                            <td>{{x.Confidential}}</td>
                                                            <td>{{x.Integrity}}</td>
                                                            <td>{{x.Availability}}</td>
                                                            <td>{{x.Owner}}</td>
                                                            <td>{{x.User}}</td>
                                                            <td>{{x.Location}}</td>
                                                            <td>{{x.MA_Start|date:'d-m-Y' }}</td>
                                                            <td>{{x.MA_End|date:'d-m-Y' }}</td>
                                                            <td>{{x.Brand_Model}}</td>
                                                            <td>{{x.Serial_Number}}</td>
                                                            <td>{{x.Remark}}</td>
                                                            <td>{{x.Description}}</td>
                                                            <td>{{x.Asset_Status}}</td>
                                                            <td>{{x.Hardware_Type}}</td>
                                                            <td>{{x.Software_Version}}</td>
                                                            <td>{{x.Software_License}}</td>
                                                            <td>{{x.Latest_Change}}</td>
                                                            <td>{{x.Current_Software_Version}}</td>
                                                            <td>{{x.Related_CI}}</td>
                                                            <td>{{x.Processor_Type}}</td>
                                                            <td>{{x.Processor_Speed}}</td>
                                                            <td>{{x.Memory_Size}}</td>
                                                            <td>{{x.Disk_Size}}</td>
                                                            <td>{{x.IP_Address}}</td>
                                                            <td>{{x.MAC_Address}}</td>                                       
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

<!-- Add Modal HTML -->
 <div id="addEmployeeModal" class="modal fade" >
    <div class="modal-dialog">
     <div class="modal-content">
      <form action="{% url 'Hardware_DataTable_insert' %}" method="POST">
        {% csrf_token %}
       <div class="modal-header">      
        <h4 class="modal-title">Add New</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       </div>
       <div class="modal-body">
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">   
                <div class="form-group">
                <label>EGAT Stock No.(รหัสครุภัณฑ์)</label>
                <input type="text" class="form-control" name="Asset_Number" placeholder="XXXX-XXXX-XXXXXXXX-XX" required pattern="[A-Z,a-z,0-9]{4}-[A-Z,a-z,0-9]{4}-[A-Z,a-z,0-9]{8}-[A-Z,a-z,0-9]{2}">
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทฮาร์ดแวร์/หมวดทรัพย์สิน</label>
                <input type="text" class="form-control" name="Asset_Type" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>บริการ</label>
                <input type="text" class="form-control" name="Service" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ชื่อทรัพย์สิน</label>
                <input type="text" class="form-control" name="Asset_Name" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ลักษณะการใช้งาน/ระบบงาน</label>
                <input type="text" class="form-control" name="System_Type" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความลับ (C)</label>
                <select  name="Confidential"  class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div> 
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความถูกต้อง (I)</label>
                <select  name="Integrity" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความพร้อมใช้ (A)</label>
                <select  name="Availability" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div> 
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้เป็นเจ้าของฮาร์ดแวร์</label>
                <input type="text" class="form-control" name="Owner" required >
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้ใช้งาน</label>
                <input type="text" class="form-control" name="User" required >
                </div> 
            </div> 
        </div> 
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ที่ตั้ง</label>
                <select  name="Location" class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                </div>
            </div> 
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่เริ่มสัญญาบำรุงรักษา</label>
                <input type="date" class="form-control" name="MA_Start"  required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่สิ้นสุดสัญบำรุงรักษา</label>
                <input type="date" class="form-control" name="MA_End"  required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>  
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ยี่ห้อ/รุ่น/Spec.</label>
                <input type="text" class="form-control" name="Brand_Model"  required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>Serial Number</label>
                <input type="text" class="form-control" name="Serial_Number" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>หมายเหตุ</label>
                <input type="text" class="form-control" name="Remark"  required>
                </div>
            </div>
        </div>   
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>รายละเอียดเพิ่มเติม</label>
                <input type="text" class="form-control" name="Description"  required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>สถานะทรัพย์สิน</label>
                <select  name="Asset_Status" class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ขอบเขตขององค์ประกอบ</label>
                <input type="text" class="form-control" name="Hardware_Type"  required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์</label>
                <input type="text" class="form-control" name="Software_Version" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ข้อมูล/รายละเอียดแสดงสิทธิ์การใช้ซอฟต์แวร์ที่มาพร้อมอุปกรณ์</label>
                <input type="text" class="form-control" name="Software_License" prequired>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>เอกสารอ้างอิงสำหรับประวัติการเปลี่ยนแปลงล่าสุด</label>
                <input type="text" class="form-control" name="Latest_Change" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์ล่าสุด</label>
                <input type="text" class="form-control" name="Current_Software_Version" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>อ้างอิงองค์ประกอบโครงสร้างด้านเทคโนโลยีสารสนเทศ</label>
                <input type="text" class="form-control" name="Related_CI" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทอุปกรณ์ประมวลผล</label>
                <input type="text" class="form-control" name="Processor_Type" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>ความเร็วอุปกรณ์ประมวลผล</label>
                <input type="text" class="form-control" name="Processor_Speed" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ขนาดหน่วยความจำ</label>
                <input type="text" class="form-control" name="Memory_Size"  required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>ขนาดฮาร์ดดิสก์</label>
                <input type="text" class="form-control" name="Disk_Size" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ไอพีแอดเดรส</label>
                <input type="text" class="form-control" name="IP_Address" placeholder="X.X.X.X" required  pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}.[0-9]{3}"> 
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>แมคแอดเดรส</label>
                <input type="text" class="form-control" name="MAC_Address" placeholder="XX:XX:XX:XX:XX:XX" required pattern="[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}" >
                </div>
            </div>
        </div>
        </div> <!-- class="modal-body" -->
       <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-primary" value="Add">
       </div>
      </form>
     </div>
    </div>
   </div>

<!-- Edit Modal HTML -->
{% for x in Hardwares %} 
 <div id="editEmployeeModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
     <div class="modal-content">
      <form action="/Hardware_DataTable_edit/{{x.Asset_Code}}" method="POST">
        {% csrf_token %}
       <div class="modal-header">      
        <h4 class="modal-title">Edit Hardware</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       </div>
       <div class="modal-body">
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">     
                <div class="form-group">
                <label>เลขทะเบียนทรัพย์สินสารสนเทศ</label>
                <input type="text" class="form-control"  name="Asset_Code" value="{{x.Asset_Code}}" readonly>
                </div>
            </div>
            <div class="col-md-6">   
                <div class="form-group">
                <label>EGAT Stock No.(รหัสครุภัณฑ์)</label>
                <input type="text" class="form-control"  name="Asset_Number" value="{{x.Asset_Number}}" placeholder="XXXX-XXXX-XXXXXXXX-XX" required pattern="[A-Z,a-z,0-9]{4}-[A-Z,a-z,0-9]{4}-[A-Z,a-z,0-9]{8}-[A-Z,a-z,0-9]{2}">
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทฮาร์ดแวร์/หมวดทรัพย์สิน</label>
                <input type="text" class="form-control" name="Asset_Type" value="{{x.Asset_Type}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>บริการ</label>
                <input type="text" class="form-control" name="Service" value="{{x.Service}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ชื่อทรัพย์สิน</label>
                <input type="text" class="form-control" name="Asset_Name" value="{{x.Asset_Name}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ลักษณะการใช้งาน/ระบบงาน</label>
                <input type="text" class="form-control" name="System_Type" value="{{x.System_Type}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความลับ (C)</label>
                <select  name="Confidential"class="form-control">
                    {% if x.Confidential == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Confidential == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Confidential == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Confidential == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความถูกต้อง (I)</label>
                <select  name="Integrity"class="form-control">
                    {% if x.Integrity == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Integrity == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Integrity == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Integrity == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div>
            </div>
        </div>
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ระดับความพร้อมใช้ (A)</label>
                <select  name="Availability"class="form-control">
                    {% if x.Availability == 1 %}
                    <option selected>1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Availability == 2 %}
                    <option >1</option>
                    <option selected>2</option>
                    <option >3</option>
                    <option >4</option>
                    {% elif x.Availability == 3 %}
                    <option >1</option>
                    <option >2</option>
                    <option selected>3</option>
                    <option >4</option>
                    {% elif x.Availability == 4 %}
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option selected>4</option>
                    {% endif %}
                </select>
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้เป็นเจ้าของฮาร์ดแวร์</label>
                <input type="text" class="form-control" name="Owner" value="{{x.Owner}}" required >
                </div> 
            </div>
        </div> 
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ผู้ใช้งาน</label>
                <input type="text" class="form-control" name="User" value="{{x.User}}" required >
                </div> 
            </div> 
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ที่ตั้ง</label>
                <select  name="Location"class="form-control">
                    {% if x.Location == 'A' %}
                    <option selected>A</option>
                    <option>B</option>
                    <option>C</option>
                    {% elif x.Location == 'B' %}
                    <option>A</option>
                    <option selected>B</option>
                    <option>C</option>
                    {% elif x.Location == 'C' %}
                    <option>A</option>
                    <option>B</option>
                    <option selected>C</option>
                    {% endif %}
                </select>
                </div>
            </div> 
        </div>
        <!-- row  -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่เริ่มสัญญาบำรุงรักษา</label>
                <input type="date" class="form-control" name="MA_Start" value="{{x.MA_Start|date:'Y-m-d' }}" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>วันที่สิ้นสุดสัญบำรุงรักษา</label>
                <input type="date" class="form-control" name="MA_End" value="{{x.MA_End|date:'Y-m-d' }}" required pattern="\d{4}-\d{2}-\d{2}">
                </div> 
            </div>  
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ยี่ห้อ/รุ่น/Spec.</label>
                <input type="text" class="form-control" name="Brand_Model" value="{{x.Brand_Model}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>Serial Number</label>
                <input type="text" class="form-control" name="Serial_Number" value="{{x.Serial_Number}}" required>
                </div>
            </div>
        </div>   
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6"> 
                <div class="form-group">
                <label>หมายเหตุ</label>
                <input type="text" class="form-control" name="Remark" value="{{x.Remark}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>รายละเอียดเพิ่มเติม</label>
                <input type="text" class="form-control" name="Description" value="{{x.Description}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>สถานะทรัพย์สิน</label>
                <select  name="Asset_Status"class="form-control">
                    {% if x.Asset_Status == 'A' %}
                    <option selected>A</option>
                    <option>B</option>
                    <option>C</option>
                    {% elif x.Asset_Status == 'B' %}
                    <option>A</option>
                    <option selected>B</option>
                    <option>C</option>
                    {% elif x.Asset_Status == 'C' %}
                    <option>A</option>
                    <option>B</option>
                    <option selected>C</option>
                    {% endif %}
                </select>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ขอบเขตขององค์ประกอบ</label>
                <input type="text" class="form-control" name="Hardware_Type" value="{{x.Hardware_Type}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์</label>
                <input type="text" class="form-control" name="Software_Version" value="{{x.Software_Version}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ข้อมูล/รายละเอียดแสดงสิทธิ์การใช้ซอฟต์แวร์ที่มาพร้อมอุปกรณ์</label>
                <input type="text" class="form-control" name="Software_License" value="{{x.Software_License}}" prequired>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>เอกสารอ้างอิงสำหรับประวัติการเปลี่ยนแปลงล่าสุด</label>
                <input type="text" class="form-control" name="Latest_Change" value="{{x.Latest_Change}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์ล่าสุด</label>
                <input type="text" class="form-control" name="Current_Software_Version" value="{{x.Current_Software_Version}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>อ้างอิงองค์ประกอบโครงสร้างด้านเทคโนโลยีสารสนเทศ</label>
                <input type="text" class="form-control" name="Related_CI" value="{{x.Related_CI}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ประเภทอุปกรณ์ประมวลผล</label>
                <input type="text" class="form-control" name="Processor_Type" value="{{x.Processor_Type}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>ความเร็วอุปกรณ์ประมวลผล</label>
                <input type="text" class="form-control" name="Processor_Speed" value="{{x.Processor_Speed}}" required>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ขนาดหน่วยความจำ</label>
                <input type="text" class="form-control" name="Memory_Size" value="{{x.Memory_Size}}" required>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row register-form">
            <div class="col-md-6">
                <div class="form-group">
                <label>ขนาดฮาร์ดดิสก์</label>
                <input type="text" class="form-control" name="Disk_Size" value="{{x.Disk_Size}}" prequired>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>ไอพีแอดเดรส</label>
                <input type="text" class="form-control" name="IP_Address" value="{{x.IP_Address}}" placeholder="X.X.X.X" required  pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}.[0-9]{3}">
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label>แมคแอดเดรส</label>
                <input type="text" class="form-control" name="MAC_Address" value="{{x.MAC_Address}}" placeholder="XX:XX:XX:XX:XX:XX" required pattern="[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}:[A-Z,a-z,0-9]{2}">
                </div>
            </div>
        </div>
        </div> <!-- class="modal-body" -->
       <div class="modal-footer">
        {% if perms.egatapp.delete_hardware %}
        <a href="#deleteEmployeeModal-{{forloop.counter}}" data-toggle="modal" class="btn btn-danger mr-auto">Delete</a>
        {% endif %}
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-info" value="Save">
       </div>
      </form>
     </div>
    </div>
   </div>
   {% endfor %}
      <!-- Delete Modal HTML -->
{% for x in Hardwares %}
<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
   <div class="modal-dialog">
    <div class="modal-content">
     <form >
      <div class="modal-header">      
       <h4 class="modal-title">Delete Hardware</h4>
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">     
       <p>Are you sure you want to delete these Records?</p>
       <p class="text-warning"><small>{{x.Asset_Code}} information Are Delete ?</small></p>
      </div>
      <div class="modal-footer">
       <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
       <a href="/Hardware_DataTable_delete/{{x.Asset_Code}}" type="submit" class="btn btn-danger">Delete</a>
      </div>
     </form>
    </div>
   </div>
  </div>
  {% endfor %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/JavaScript"src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js" ></script>
<script type="text/JavaScript"src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" ></script>
<script type="text/JavaScript"src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" ></script>
<script type="text/JavaScript"src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js" ></script>
<script type="text/JavaScript"src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>

<script type="text/JavaScript">
    $(document).ready(function() {  
       
        $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');     
   
        $('#example').DataTable( {
            dom: 'Brtip',
            //"paging": false,
            //"info":     false,
            //lengthChange: false,
            scrollX: true,
            fixedColumns:   {
                left: 0,
                right: 0
            },
            buttons: [
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหน้า 4 แถว',
                    show: [ 1, 2, 3, 4 ],
                    hide: [ 5 ,6, 7, 8, 9, 10]
                },
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหลัง 4 แถว',
                    show: [ 5 ,6, 7, 8, 9, 10 ],
                    hide: [ 1, 2, 3, 4]
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all',
                    show: ':hidden'
                },
                { 
                    extend: 'colvis', 
                    columns: ':not(.noVis)',
                    collectionLayout: 'fixed columns',
                },
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 
                { 
                    extend: 'spacer', 
                    style: 'bar', 
                    text: 'Export Files' 
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    charset: 'utf-8',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                    
            ],
            select: true,
            orderCellsTop: true,
            initComplete: function () {

                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        } );

    } );
</script>
{% endblock javascripts %}
