{% extends "layouts/base.html" %}{%load static%}

{% block title %} Hardware Export {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%static '/datatables/css/buttons.dataTables.min.css' %}">

<style>
    thead input {
        width: 100%;
    }
    div.container {
        width: 80%;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Hardware</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Hardware</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Export</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Export</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="example" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>เลขทะเบียนทรัพย์สินสารสนเทศ</th>
                                                            <th>EGAT Stock No.(รหัสครุภัณฑ์)</th>
                                                            <th>ประเภทฮาร์ดแวร์/หมวดทรัพย์สิน</th>
                                                            <th>บริการ</th>
                                                            <th>ชื่อทรัพย์สิน</th>
                                                            <th>ลักษณะการใช้งาน/ระบบงาน</th>
                                                            <th>ระดับความลับ (C)</th>
                                                            <th>ระดับความถูกต้อง (I)</th>
                                                            <th>ระดับความพร้อมใช้ (A)</th>
                                                            <th>ผู้เป็นเจ้าของฮาร์ดแวร์</th>
                                                            <th>ผู้ใช้งาน</th>
                                                            <th>ที่ตั้ง</th>
                                                            <th>วันที่เริ่มสัญญาบำรุงรักษา</th>
                                                            <th>วันที่สิ้นสุดสัญบำรุงรักษา</th>
                                                            <th>ยี่ห้อ/รุ่น/Spec.</th>
                                                            <th>Serial Number</th>
                                                            <th>หมายเหตุ</th>
                                                            <th>รายละเอียดเพิ่มเติม</th>
                                                            <th>สถานะทรัพย์สิน</th>
                                                            <th>ขอบเขตขององค์ประกอบ</th>
                                                            <th>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์</th>
                                                            <th>ข้อมูล/รายละเอียดแสดงสิทธิ์การใช้ซอฟต์แวร์ที่มาพร้อมอุปกรณ์</th>
                                                            <th>เอกสารอ้างอิงสำหรับประวัติการเปลี่ยนแปลงล่าสุด</th>
                                                            <th>รุ่นของซอฟต์แวร์พื้นฐานที่ใช้ควบคุมอุปกรณ์ฮาร์แวร์ล่าสุด</th>
                                                            <th>อ้างอิงองค์ประกอบโครงสร้างด้านเทคโนโลยีสารสนเทศ(CI)ที่เกี่ยวข้อง</th>
                                                            <th>ประเภทอุปกรณ์ประมวลผล</th>
                                                            <th>ความเร็วอุปกรณ์ประมวลผล</th>
                                                            <th>ขนาดหน่วยความจำ</th>
                                                            <th>ขนาดฮาร์ดดิสก์</th>
                                                            <th>ไอพีแอดเดรส</th>
                                                            <th>แมคแอดเดรส</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                          <th>Asset Code</th>
                                                          <th>Asset_Number</th>
                                                          <th>Asset_Type</th>
                                                          <th>Service</th>
                                                          <th>Asset_Name</th>
                                                          <th>System_Type</th>
                                                          <th>Confidential</th>
                                                          <th>Integrity</th>
                                                          <th>Availability</th>
                                                          <th>Owner</th>
                                                          <th>User</th>
                                                          <th>Location</th>
                                                          <th>MA_Start</th>
                                                          <th>MA_End</th>
                                                          <th>Brand_Model</th>
                                                          <th>Serial_Number</th>
                                                          <th>Remark</th>
                                                          <th>Description</th>
                                                          <th>Asset_Status</th>
                                                          <th>Hardware_Type</th>
                                                          <th>Software_Version</th>
                                                          <th>Software_License</th>
                                                          <th>Latest_Change</th>
                                                          <th>Current_Software_Version</th>
                                                          <th>Related_CI</th>
                                                          <th>Processor_Type</th>
                                                          <th>Processor_Speed</th>
                                                          <th>Memory_Size</th>
                                                          <th>Disk_Size</th>
                                                          <th>IP_Address</th>
                                                          <th>MAC_Address</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for x in Hardwares %} 
                                                        <tr>
                                                            <td>{{x.Asset_Code}}</td>
                                                            <td>{{x.Asset_Number}}</td>
                                                            <td>{{x.Asset_Type}}</td>
                                                            <td>{{x.Service}}</td>
                                                            <td>{{x.Asset_Name}}</td>
                                                            <td>{{x.System_Type}}</td>
                                                            <td>{{x.Confidential}}</td>
                                                            <td>{{x.Integrity}}</td>
                                                            <td>{{x.Availability}}</td>
                                                            <td>{{x.Owner}}</td>
                                                            <td>{{x.User}}</td>
                                                            <td>{{x.Location}}</td>
                                                            <td>{{x.MA_Start|date:'d-m-Y' }}</td>
                                                            <td>{{x.MA_End|date:'d-m-Y' }}</td>
                                                            <td>{{x.Brand_Model}}</td>
                                                            <td>{{x.Serial_Number}}</td>
                                                            <td>{{x.Remark}}</td>
                                                            <td>{{x.Description}}</td>
                                                            <td>{{x.Asset_Status}}</td>
                                                            <td>{{x.Hardware_Type}}</td>
                                                            <td>{{x.Software_Version}}</td>
                                                            <td>{{x.Software_License}}</td>
                                                            <td>{{x.Latest_Change}}</td>
                                                            <td>{{x.Current_Software_Version}}</td>
                                                            <td>{{x.Related_CI}}</td>
                                                            <td>{{x.Processor_Type}}</td>
                                                            <td>{{x.Processor_Speed}}</td>
                                                            <td>{{x.Memory_Size}}</td>
                                                            <td>{{x.Disk_Size}}</td>
                                                            <td>{{x.IP_Address}}</td>
                                                            <td>{{x.MAC_Address}}</td>                                             
                                                    </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}{%load static%}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/JavaScript"src="{%static '/datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.buttons.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/jszip.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/pdfmake.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/vfs_fonts.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.html5.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.print.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/buttons.colVis.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.select.min.js' %}"></script>
<script type="text/JavaScript"src="{%static '/datatables/js/dataTables.fixedColumns.min.js' %}"></script>

    <script type="text/JavaScript">
    $(document).ready(function() {
        $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');     
       
        $('#example').DataTable( {               
            dom: 'Brtip',
            //"paging": false,
            //"info":     false,
            lengthChange: false,
            //stateSave: true,
            primary: true,
            scrollX: true,
            buttons: [
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหน้า 4 แถว',
                    show: [ 1, 2, 3, 4 ],
                    hide: [ 5 ,6, 7, 8, 9, 10]
                },
                {
                    extend: 'colvisGroup',
                    text: 'ด้านหลัง 4 แถว',
                    show: [ 5 ,6, 7, 8, 9, 10 ],
                    hide: [ 1, 2, 3, 4]
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all',
                    show: ':hidden'
                },
                { 
                    extend: 'colvis', 
                    columns: ':not(.noVis)',
                    collectionLayout: 'fixed columns',
                },
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 'spacer', 
                'spacer', 'spacer', 
                { 
                    extend: 'spacer', 
                    style: 'bar', 
                    text: 'Export Files' 
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    charset: 'utf-8',
                    bom: true,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                    
            ],
            select: true,
            orderCellsTop: true,
            initComplete: function () {
        
                var api = this.api();
    
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
    
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
    
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();
    
                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
    </script>
    
{% endblock javascripts %}
